<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能页</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <h class="container">功能首页</h><br>
    <a class="container" href="/guonei">国内舆情</a><br>
    <a class="container"href="/test_map">国际舆情</a><br>
    <a class="container" href="/data">微博舆情</a><br>
    <a class="container" href="/change_password">改密</a><br>
    <a class="container" href="/">登出</a><br>
    <a class="container" href="/delete_account">删除账号</a><br>
        {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>