<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<!-- <link rel="stylesheet" type="text/css" href="/static/form.css"> -->
<link rel="stylesheet" type="text/css" href="/static/register.css">
<body>
<!-- <body style="background-image: url('static/img/bg.jpg'); background-repeat: no-repeat; background-size: cover;"> -->
<!-- <body style="background-image: url('static/img/bg.png'); background-repeat: no-repeat; background-size: cover;"> -->
    <!-- <body style="background-image: url('path/to/bg.jpg'); background-repeat: no-repeat; background-size: cover;"> -->
<!-- <h1>登录</h1> -->
<!-- <form action="/login" method="POST">
    <p><input type="text" name="l_username" placeholder="输入用户名"></p>
    <p><input type="password" name="l_password" placeholder="输入密码"></p>
    <p><input type="submit" value="登录"></p>
</form> -->
<h1 class="a">登录</h1>
<form action="/login" method="POST" class="middle">
    <p><input type="text" name="l_username" placeholder="输入用户名"></p>
    <p><input type="password" name="l_password" placeholder="输入密码"></p>
    <!-- <p><input type="password" name="repassword" placeholder="确认密码"></p> -->
    <p><input type="submit" value="登录"></p>
</form>

<!-- <h1  margin: 0 auto;>登录</h1> -->
<!-- <form action="/login" method="POST" class="list">
    <p><input type="text" name="l_username" placeholder="输入用户名"></p>
    <p><input type="password" name="l_password" placeholder="输入密码"></p>
    <p><input type="submit" value="登录" class="btn"></p>
</form>  -->
<!-- <form action="/" method="POST">
    <p><input type="submit" value="返回首页"></p> -->
</form>

</body>
</html>