<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>微博数据</title>
    <!-- <script src="{{ url_for('static', filename='index.js') }}"></script> -->
    <!-- <script src="/static/weiboindex.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/form.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/data.css">
    </script>
    <style type="text/css">
        input,button {
            height: 40px;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body style="background-color: gainsboro;">
    <!-- <h1>Debug Output</h1>
    <p>Data: {{ data }}</p>
    <p>Rows: {% for row in data %}{{ row }}{% endfor %}</p> -->
    <h1 style=" text-align: center;">微博舆情</h1>
    <form method="get" action="{{ url_for('data') }}">
        <input type="text" name="query" placeholder="输入你要查找的关键词">
        <input type="submit" value="查找">
    </form>
    <br>
    <button  onclick="location.href='/text_dug'">挖掘新数据 </button>
    <button onclick="window.location.href='/download'">导出数据表 </button>
    <button  onclick="location.href='/text_analysis'">进行文本分析 </button>
    <button  onclick="window.location.href='/downloadfenxi'">导出文本分析 </button>
    <button  onclick="location.href='/text_fenci'">进行文本分词 </button>
    <button  onclick="window.location.href='/downloadfenci'">导出文本分词 </button>
    <button  onclick="window.location.href='/function'">返回 </button>
    <table border="" id="data-container" ">
        <!-- 直接color是字体颜色 style=" border-color: ;-->
        <tr>
            <th>ID</th>
            <th>用户名称</th>
            <th>微博等级</th>
            <th>微博内容</th>
            <th>微博转发</th>
            <th>微博评论</th>
            <th>微博点赞</th>
            <th>发布时间</th>
            <th>关键词</th>
            <th>话题</th>
            <th>讨论</th>
            <th>阅读</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.rid}}</td>
            <td>{{ row['用户名称'] }}</td>
            <td>{{ row['微博等级'] }}</td>
            <td>{{ row['微博内容'] }}</td>
            <td>{{ row['微博转发量'] }}</td>
            <td>{{ row['微博评论量'] }}</td>
            <td>{{ row['微博点赞'] }}</td>
            <td>{{ row['发布时间'] }}</td>
            <td>{{ row['搜索关键词'] }}</td>
            <td>{{ row['话题名称'] }}</td>
            <td>{{ row['话题讨论数'] }}</td>
            <td>{{ row['话题阅读数'] }}</td>
        </tr>
        {% endfor %}

        {% if total_pages > 1 %}
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('data', page=page-1) }}">上一页</a>
            {% endif %}
            {% for p in range(1, total_pages + 1) %}
            {% if p == page %}
            <a class="active" href="?page={{ p }}">{{ p }}</a>
            {% else %}
            <a href="{{ url_for('data', page=p) }}">{{ p }}</a>
            {% endif %}
            {% endfor %}
            {% if page < total_pages %} <a href="{{ url_for('data', page=page+1) }}">下一页</a>
                {% endif %}
        </div>
        {% endif %}
        Total Pages: {{ total_pages }}
        Current Page: {{ page }}
        Start: {{ start }}
        End: {{ end }}
    </table>
</body>

</html>